.is-active{
  color: rgb(255, 33, 106) !important;
  text-decoration: none;
}

.list-menu{
    text-align: right;
    position: absolute;
    top: 85px;
    right: 50px;
}

.list-menu li{
    border: 1px solid transparent;
    cursor: pointer;
    display: inline-block;
    position: relative;
    right: 50px;
    padding: 5px 15px;
    margin: 0 10px;
    font-size: 13px;
}
.list-menu li>a{
    color: white;
    text-decoration: none;
}

.list-menu li:hover{
    /* border-top: 1px solid rgb(93, 93, 93); */
    border-bottom: 1px solid rgb(255, 33, 106);
    color: rgb(255, 231, 193);
}

#burger-container{
    width: 6px;
    position: absolute;
    top: 90px;
    right: 85px;
}

#burger{
    cursor:pointer;
    display:block;
}


#burger span{
    background: #ff216a;
    display:block;
    width:25px;
    height:3px;
    margin-bottom: 3px;
    position: relative;
    top:0;
    transition: all ease-in-out 0.4s;  
}

#burger-container.open span:nth-child(2),
#burger-container.open span:nth-child(3){
    width: 0;
    opacity:0;
    
}

#burger-container.open span:nth-child(1){

    transform: rotate(-45deg);
    top:10px;
}

#burger-container.open span:nth-child(4){
    transform: rotate(45deg);
    top:-8px;
}
