

.data-page{
    width: 80%;
    margin: 0 auto;
}
.form-group>input {
    margin: 5px;
}
.data-page>.form-group>button{
    width: 100%;
    margin: 5px;
}
.data-page>.form-group{
    width: 50%;
    margin: 0 auto;
}

.item{
    margin-top: 20px;
    border-top: 1px solid rgb(114, 114, 114);
}


.p-item>button{
    cursor: pointer;
    position: absolute;
    top: 2px;
    right: 2px;
    border-radius: 108px;
    padding: 0px 10px;
    padding-bottom: 2px;
    border: 1px solid rgb(223, 223, 223);
    outline: 0;
    background-color: transparent;
}
.p-item>button:hover{
    background-color: rgb(236, 236, 236);
    color: black !important;
}

.p-item{
    position: relative;
    border: 6px solid transparent;
    padding: 30px;
    margin: 10px;
    color: rgb(22, 22, 22);
    float: left;
    cursor: pointer;
    box-shadow: 0px 0px 32px -8px #000000;
}
.p-item:hover{
    transition: .3s;
    border: 6px solid rgb(255, 33, 106);
    background-color: rgba(0, 0, 0, 0.73);
    color: white;
}

.p-item:hover button{
    color: white;
}

.td-table-last{
    position: relative;
}

.delete-item{
    cursor: pointer;
    position: absolute;
    top: 12px;
    border-radius: 7px;
    padding: 0px 10px;
    padding-bottom: 2px;
    border: 1px solid rgb(223, 223, 223);
    outline: 0;
    background-color: #656565;
    color: white;
}

.delete-item:hover{
    color: rgb(255, 33, 106);
    border-color: rgb(255, 33, 106);
}