.contact{
    padding-bottom: 100px;
}

.form>input{
    width: 100%;
    margin-bottom: 15px;
    font-size: 14px;
    padding: 5px;
}

.form>textarea{
    height: 114px;
    margin-bottom: 14px;
}

.form>label{
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}

.security-input{
    width: 50% !important;
}

.submit-btn{
    float: right;
    cursor: pointer;
    color: white;
    background-color: #9ec559;
    border: none;
    padding: 5px 10px;
    border: 1px solid transparent;
}

.submit-btn:hover{
    background: black;
    border: 1px solid #9ec559;
    color: #9ec559;
}