header{
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 100px;
    z-index: 100;
    box-shadow: 0px 12px 28px -12px #ffffff;
    background-color: rgb(255, 255, 255, 0.9) !important;
    z-index: 10000;
}

header:hover{
    transition: .9s;
    height: 100px;
}

.active{
    transition: 0.5s;
    background-color: rgb(153, 194, 80);
    padding-top: 20px;
    padding-bottom: 20px;
    color: white !important;
    text-shadow: none;
}

.header-up{
    transition: .7s;
    height: 8px;
}

.header-down{
    transition: .9s;
    height: 100px;
   
}

/* ---------------------- */

.logo{
    float: left;
    margin-left: 100px;
}

.logo>img{
    padding-top: 7px;
    width: 320px;
}

.menu{
    margin-right: 100px;
}

.menu>ul{
    float: right;
    height: 100%;
    padding: 0;
    margin: 40px 50px;  
}

.menu>ul>li{
    text-shadow: -1px 0px 17px rgb(255, 255, 255);
    color: white;
    cursor: pointer;
    display: inline;
    vertical-align: middle;
}

.menu>ul>li>a{
    text-decoration: none;
    transition: .1s;
    color: #333;
    padding: 44px 10px;
}

.menu>ul>li>a:hover{
    transition: 0.5s;
    background-color: rgb(153, 194, 80);
    color: white !important;
}


#burger-container{
    width: 6px;
    position: absolute;
    top: 43px;
    right: 85px;
}

#burger{
    cursor:pointer;
    display:block;
}


#burger span{
    background: #99c250;
    display:block;
    width:25px;
    height:3px;
    margin-bottom: 3px;
    position: relative;
    top:0;
    transition: all ease-in-out 0.4s;  
}

#burger-container.open span:nth-child(2),
#burger-container.open span:nth-child(3){
    width: 0;
    opacity:0;
    
}

#burger-container.open span:nth-child(1){

    transform: rotate(-45deg);
    top:10px;
}

#burger-container.open span:nth-child(4){
    transform: rotate(45deg);
    top:-8px;
}


@media screen and (max-width: 1170px) {
    header:hover{
        height: 135px;
    }

    .header-down{
        height: 135px;
    }

    .list-menu{
        position: absolute;
        top: 100px;
        left: 0;
        z-index: 1000;
    }

    .menu>ul{
        margin: 0 5%;
        height: 30px;
    }

    .menu>ul>li>a{
        padding: 3px 5px;
    }

    
  
    
}
