.feedback{
    margin: 100px 0;
    /* height: 400px; */
}

.feed-item {
    transition: .9s;
    padding-bottom: 100px;
    text-align: center;
    color: white;
    width: 50%;
    min-height: 400px;
    padding: 0 20%;
    /* padding-bottom: 100px; */
}

.feedback>.header-section>span{
    color: white;
} 
.feed-txt>p{
    font-size: 20px;
}

.feed-txt>p>i{
    position: relative;
    top: -7px;
    font-size: 20px;
    padding: 0 15px;
    color: #99c250;
}

.feed-autor{
    text-align: right;
    padding: 5px;
    color: antiquewhite;
    font-style: italic;
    font-size: 16px !important;

}