.list{
    text-align: left;
    padding: 20px;
    color: #00BCD4;
}

.list>p>i{
    font-size: 34px;
    color: black;
    position: relative;
    top: 7px;

}
.table-axios{
    margin-top: 20px;
}

.td-photo img{
    width: 70px;
}

.table td{
    vertical-align: middle !important;
}

.bg-git{
    font-size: 400px;
    position: absolute;
    top: 135px;
    right: 178px;
    opacity: 0.1;
    color: grey;
    z-index: -1;
}